body{
    background-color:hsl(185, 75%, 39%);
    overflow: hidden;
    overflow-x: hidden;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.bgtop{
    position: relative;
    bottom: 500px;
    right: 300px;
}

.bgbottom{
    position: relative;
    bottom: 700px;
    left: 800px;
}

.bgpattern{
    width:100%;
    border-radius: 5% 5% 0 0;
}

.ProfileCard{
    width: 375px;
    height: 410px;
    background-color: white;
    border-radius: 3%;
    z-index: 1;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.imageVictor{
    position: relative; 
    transform: translateY(-50%);
    left: 38%;
    border: 5px solid #fff;
    border-radius: 50%;
}

.victorheading{
    position: relative;
    left: 34%;
    bottom: 15%;
}

.victorage{
    color: hsl(0, 0%, 59%);
}

.victorPlace{
    color: hsl(0, 0%, 59%);
    position: relative;
    left: 44%;
    bottom: 18%;
}

hr{
    color: hsl(0, 0%, 59%);
    position: relative;
    bottom: 15%;
}

.FollowersNumber{
    position: relative;
    bottom: 14%;
    left: 18%;
}

.FollowersPara{
    position: relative;
    bottom: 26%;
    left: 15%;
    color: hsl(0, 0%, 59%);
}

.LikesNumber{
    position: relative;
    bottom: 42%;
    left: 45%;
}

.LikesPara{
    position: relative;
    bottom: 54%;
    left: 46%;
    color: hsl(0, 0%, 59%);
}

.PhotosNumber{
    position: relative;
    bottom: 70%;
    left: 72%;
}

.PhotosPara{
    position: relative;
    bottom: 82%;
    left: 70%;
    color: hsl(0, 0%, 59%);
}

@media only screen and (max-width: 600px) {
    .bgtop{
        position: absolute;
        bottom: 400px;
        right: 220px;
    }

    .bgbottom{
        position: absolute;
        top: 280px;
        bottom: 0;
        left: 220px;
    }
  }

